#!/usr/bin/env bash

##### Flutter formatter
printf "\n"
printf "\e[33;1m%s\e[0m\n" 'Running the Flutter formatter'
/path/to/flutter/bin/flutter format ./lib/


##### Flutter analyzer
printf "\n"
printf "\e[33;1m%s\e[0m\n" 'Running the Flutter analyzer'
/path/to/flutter/bin/flutter analyze ./lib/
if [ $? -ne 0 ]; then
  printf "\e[31;1m%s\e[0m\n" 'Flutter analyzer error'
  exit 1
fi


##### Unit tests
# printf "\n"
# printf "\e[33;1m%s\e[0m\n" 'Running unit tests'
# /path/to/flutter/bin/flutter test
# if [ $? -ne 0 ]; then
#   printf "\e[31;1m%s\e[0m\n" 'Unit tests error'
#   exit 1
# fi
#
# printf "\e[33;1m%s\e[0m\n" 'Finished running unit tests'

